*{
    margin:0;
    padding: 0;
}

body{
    
    height: 100%;
}
.layerBackground{
    background: url("/img/background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -99;
}
.box{
    
    height: 100%;


    margin: 0 auto;
    display: table;
}
.title{
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
    color: #DD5E89;
    font-weight: bold;
    }
input{
    border: none;
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    height: 25px;
    margin-bottom: 20px;
    float: inherit;
}
label{
    margin-bottom: 10px;
    position: relative;
    
}

button {
    background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97  51%, #DD5E89  100%)
}
button {
    margin: 10px;
    text-align: center;
    transition: 0.5s;
    height: 30px;
    border: none;
    width: 120px;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


button:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.submit-layer{
    
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 600px;
    
}
html,body{
    height: 100%;
}
.loginbox{
    position: relative;
    height: auto;
    background-color: #ffffffba;
    padding: 20px;
    border-radius: 10px;
}
input:focus{
    outline-color: #DD5E89;
}
@media (max-width: 768px){
    .box{
        width: 80%;
    }
    .title{
        font-size: 20px;
    }
    input{
        width: 277px;
        height: 30px;
    }
    .form{
        max-height: 150px;
        overflow: auto;
    }
}
.logo{
    position: relative;
}
.logopicture{
    height: 100px;
    width: 100%;
}
